apiVersion: apps/v1
kind: Deployment 
metadata: 
  name: myapp3-deployment
spec: 
  replicas: 2
  selector:
    matchLabels:
      app: myapp3
  template:  
    metadata: 
      name: myapp3-pod
      labels: 
        app: myapp3 
    spec:
      containers:
        - name: myapp3-container
          image: ganjiacr.azurecr.io/ajdevops/dev_application:$(tag)
          ports: 
            - containerPort: 80